// default font family
@font-face {
  font-family: "cabinetGrotesk";
  src: url("../webfonts/cabinetGrotesk.ttf") format("truetype");
}

// default root
:root {
  --body-font: "cabinetGrotesk", serif;
  --transition: all 0.5s ease-in-out;

  /* Color styles */
  --p1: 255, 109, 0;
  --s1: 255, 255, 255;

  --n0: 0, 0, 0;
  --n1: 255, 255, 255;
  --n2: 240, 240, 240;
  --n3: 22, 64, 75;
  --n4: 253, 232, 229;

  --gradient-p1: linear-gradient(
    142deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 21.84%
  );

  --box-shadow-p1: linear-gradient(
    142deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 21.84%
  );

  --box-shadow-p2: 0px 210px 59px 0px rgba(0, 0, 0, 0),
    0px 135px 54px 0px rgba(0, 0, 0, 0.01),
    0px 76px 45px 0px rgba(0, 0, 0, 0.05), 0px 34px 34px 0px rgba(0, 0, 0, 0.09),
    0px 8px 19px 0px rgba(0, 0, 0, 0.1);

  // hex color
  --hex-p1: #3368c6;
  --hex-s1: #ffffff;

  --hex-n1: #ffffff;
  --hex-n2: #f0f0f0;
  --hex-n3: #3368c6;
}
